# Copyright (c) 2025 Zensical and contributors

# SPDX-License-Identifier: MIT
# Third-party contributions licensed under DCO

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

permissions:
  attestations: write # Required for attestations
  id-token: write     # Required for OIDC

jobs:
  build:
    name: Templates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref || github.sha }}

      - name: Set up Node.js runtime
        uses: actions/setup-node@v5
        with:
          node-version: 24.x

      - name: Set up Node.js dependency cache
        uses: actions/cache@v4
        id: cache
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          path: node_modules

      - name: Set up Node.js dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install

      - name: Build artifact
        run: npm run build

      - name: Create artifact archive
        shell: bash
        run: |
          mkdir -p artifacts
          if [ -d dist ]; then
            tar -C dist -czf artifacts/templates.tar.gz .
            ls -la artifacts
          else
            echo "dist directory not found"
            exit 1
          fi

      - name: Create artifact attestation
        uses: actions/attest-build-provenance@v1
        with:
          show-summary: false
          subject-path: artifacts/*

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: templates
          path: artifacts/*

